@page "/"
@using GestorEventosDeportivos.Modules.ProgresoCarreras.Application
@using GestorEventosDeportivos.Modules.ProgresoCarreras.Datatypes

@rendermode InteractiveServer

@inject IProgresoService progresoService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.